<div class="container backgroundBlue">
	<div class="centered">
		<button class="buttonWhite">
			Login with Facebook
		</button>
	</div>

	<hr>

	<form class="form-container" action="/auth/login" method="POST" id="form-container">
		<div class="row justify-content-center">
			<input class="field" id="username" type="text" name="username" placeholder="Your Username">
		</div>

		<div class="row justify-content-center">
			<input class="field password" id="password" type="password" name="password" placeholder="Your password">
		</div>

		<br>
		{{#if message }}
		<div class="error-message">{{ message }}</div>
		{{/if}}


		<div id="botonLogin" class="centered">
			<button class="buttonWhite">Login</button>
		</div>
		<br>
		<p class="account-message">
			Don't have an account yet?
			<a href="/auth/signup">Signup</a>
		</p>
	</form>

</div>