<div class="container-fluid">
    <form action="/auth/signup" method="POST" id="form-container">
    <div class="row">
      <div class="col-12 align-self-center">
        <input id="username" type="text" name="username" placeholder="Username">
      </div>
    </div>

      <label for="direction">Direction</label>
      <input id="direction" type="text" name="direction" placeholder="Your direction">

      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="Your email">

      <label for="phone">Phone</label>
      <input id="phone" type="text" name="phone" placeholder="Your phone">

      <label for="password">Password: </label>
      <input id="password" type="password" name="password" placeholder="Your password">
      <button>Enviar</button>
    </form>
  </div>
</div>