<div class="container-fluid backgroundBlue">

  <div class="centered">
    <button class="buttonWhite">
      Register with Facebook
    </button>

  </div>

  <hr>

  <form action="/auth/signup" method="POST" id="form-container">
    <div class="row justify-content-center">
      <input class="field" id="username" type="text" name="username" placeholder="Name">
    </div>

    <div class="row justify-content-center">
      <input class="field" id="direction" type="text" name="direction" placeholder="Your direction">
    </div>

    <div class="row justify-content-center">
      <input class="field" id="email" type="text" name="email" placeholder="Your email">
    </div>

    <div class="row justify-content-center">
      <input class="field" id="password" type="password" name="password" placeholder="Your password">
    </div>



    <div class="container">
      <p class="genreFav">Your favorite genres:</p>
      <div class="row justify-content-center">
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Thriller">
          <label class="form-check-label" for="preferences">Thriller</label>
        </div>
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Novela">
          <label class="form-check-label" for="preferences">Novel</label>
        </div>
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Terror">
          <label class="form-check-label" for="preferences">Terror</label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Policiaco">
          <label class="form-check-label" for="preferences">Police</label>
        </div>
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Infantil">
          <label class="form-check-label" for="preferences">Childish</label>
        </div>
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Romantico">
          <label class="form-check-label" for="preferences">Romantic</label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Aventuras">
          <label class="form-check-label" for="preferences">Adventure</label>
        </div>
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="Politico">
          <label class="form-check-label" for="preferences">Politician</label>
        </div>
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="Comedia">
          <label class="form-check-label" for="preferences">Comedy</label>
        </div>
      </div>
    </div>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <div class="centered">
      <button class="buttonWhite">
        Create account
      </button>
    </div>


    <br>

    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>
  </form>

</div>