<h1>SingleView</h1>
<p>{{book.name}}</p>
<div>
  <p>Location of the books</p>
</div>
<div id="map"></div>
<script>
  let id = "{{book._id}}"
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GKEY}}"></script>
<script src="/javascripts/maps.js"></script>