<div class="backgroundBlue">
  <h1 class="titleAbout">Find a book</h1>

  <p class="pAbout">We are a start-up that wants to promote the reading of books on paper, before the irruption of
    electronic books.
  </p>
  <p class="pAbout">For this we want to create a community of readers who exchange books that have already been read and
    so they can
    have
    new books without investing money in them.</p>

  <p class="pAbout"> We also want to agree with different points of sale exclusive discounts for our
    clients, if they
    want a book that
    is
    not in our community.</p>

  <img id="exclusive" class="imgDescuentos" src="../images/descuentos.jpg" alt="">

  <h2 class="titleAbout"> Exclusive discounts</h2>

  <p class="pAbout"> Thanks to the collaboration with different points of sale of books, we have obtained very
    interesting discounts for our users. You should only use the code #FINDABOOK when making the purchase at the
    associated point of sale</p>

  <img id="reuse" class="imgDescuentos" src="../images/reuse.png" alt="">

  <h2 class="titleAbout"> Reuse</h2>
  <p class="pAbout"> The rule of the three R's, also known as the three R's of ecology, or simply 3R, or also the three
    R's, is a proposal on consumer habits, popularized by the environmental organization Greenpeace, which aims to
    develop habits such as responsible consumption .</p>
  <div id="partners" class="partner">
    <h2 class="titlePartner">Ous Partners</h2>
    <img class="imgCasaLibro" src="../images/casalibro.png" alt="">
    <img class="imgFnac" src="../images/fnac.png" alt="">
    <img class="imgPartner" src="../images/corteingles.png" alt="">


    <p class="parraf"></p>
  </div>


</div>