<div class="container centered">
  <h1>Welcome to<br>{{title}}</h1>

  <div class="row justify-content-around">

    <button class="buttonBlue">News</button>
    <a href="../books/used"><input class="buttonBlue" type="button" value="Used" name="used"></a>
  </div>

  <div class="row justify-content-center">
    <a href="../books/trending"><input class="buttonBlue trending" type="button" value="Trending topic"
        name="trending"></a>
  </div>

  <div class="row justify-content-center">
    <a href="/about"><input class="buttonBlue trending" type="button" value="About Us" name="aboutus"></a>
  </div>

  <div class="row">
    <div class="col squareIndex">
      <a href="/about/#exclusive" class="centerText">Exclusive discounts</a>
    </div>
    <div class="col squareIndex">
      <a href="/about/#reuse" class="centerText">Reuse books</a>
    </div>

    <div class="col squareIndex">
      <a href="/about/#partners" class="centerText">Our partners</a>
    </div>
  </div>

</div>