/*GLOBALS*/

html {
  min-height: 100%;
  position: relative;
}
body {
  padding: 0;
  margin-top: 80px;
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  // background-image: url("/images/libro.png");
  // background-repeat: no-repeat;
  // background-position: bottom;
}

::placeholder {
  color: #e3e3e3;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #e3e3e3;
  color: black;
}

.logoMenu {
  border: solid 2px black;
  border-radius: 5px;
  font-size: 40px;
  padding: 4px;
  margin: 15px 10px;
}
.elementMenu {
  height: 52px;
  width: 200px;
  padding-top: 12px;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 24px;
  color: black;
}

.logoLibro {
  width: 55px;
  padding-bottom: 20px;
  margin-left: 5px;
}

/* BODY */

.backgroundBlue {
  background: #2980b9;
  min-height: 85vmax;
}

.centered {
  text-align: center;
}

.buttonWhite {
  background: #e3e3e3;
  padding: 10px;
  margin-top: 30px;
  width: 200px;
  border-radius: 5px;
}

.buttonBlue {
  background: #2980b9;
  padding: 10px;
  margin-top: 30px;
  width: 150px;
  border-radius: 5px;
  font-size: 20px;
  color: #e3e3e3;
}

.trending {
  width: 250px;
}

.squareIndex {
  border: 1px solid #2980b9;
  border-radius: 15px;
  margin: 70px 10px;
  padding: 10px 10px 2px 10px;
  font-size: 16px;
  font-weight: bold;
  background: #e3e3e3;
}

.field {
  border: none;
  border-bottom: 1px solid #404040;
  background: #2980b9;
  font-size: 22px;
  margin-bottom: 10px;
  color: #e3e3e3;
}

.genreFav {
  font-size: 20px;
  color: #e3e3e3;
  margin-top: 20px;
  text-align: center;
}

.form-container {
  margin-top: 50px;
}

.password {
  margin-top: 30px;
}

#botonLogin {
  margin-top: 100px;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: black;
  color: white;
}

footer p {
  padding: 10px;
}

/* SIDEBAR */

#sidebar {
  width: 250px;
  background: #404040;
  color: white;
  transition: all 0.3s;
  margin-left: -300px;
  padding: 20px;
  font-size: 24px;
}

.linkMenu {
  padding: 10px;
  border-bottom: 1px solid black;
  color: #2980b9;
}

#sidebar.active {
  margin-left: 0px;
}

#username {
  border: none;
  border-bottom: 1px black solid;
  font-size: 26px;
}

.col-3 {
  flex-basis: 33%;
  margin: 0;
}